<style>
div {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 3px;
  margin: 15px;
  padding: 15px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.12);

  font-family: Helvetica Neue, Helvetica, sans-serif;
}

h1 {
  font-weight: 300;
  color: orange;
  font-size: 24px;
  line-height: 30px;
}

p {
  font-size: 12px;
  line-height: 18px;
  color: #444;
}
</style>

<header>
  <h1>Weather Component</h1>
</header>
<section>
  <p>This is where the component body sits.</p>
</section>
